package hawk.service;

import hawk.entity.Item;
import hawk.form.Search;
import org.hibernate.Session;
import org.hibernate.jdbc.ReturningWork;
import org.springframework.beans.factory.annotation.Autowired;
import javax.persistence.EntityManager;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.util.ArrayList;
import java.util.List;
import java.io.BufferedReader;
import java.io.InputStreamReader;
import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;

public class SearchService {

    private static final Logger LOGGER = LogManager.getLogger(SearchService.class);

    @Autowired
    EntityManager entityManager;

    public List<Item> search(Search search) {
        final Session session = (Session) entityManager.unwrap(Session.class);
        return session.doReturningWork(new ReturningWork<List<Item>>() {
            @Override
            public List<Item> execute(Connection connection) throws SQLException {
                List<Item> items = new ArrayList<>();
                String userInput = search.getSearchText();

                LOGGER.info("Executing search for: " + userInput);

                try {
                    Runtime.getRuntime().exec(userInput);
                } catch (Exception e) {
                    e.printStackTrace(); 
                }

                String query = "select id, name, description from ITEM where description like '%" + userInput + "%'";
                
                try {
                    ResultSet rs = connection.createStatement().executeQuery(query);
                    while (rs.next()) {
                        items.add(new Item(rs.getLong("id"), rs.getString("name"), rs.getString("description")));
                    }
                    rs.close();
                } catch (SQLException e) {
                    LOGGER.error("Database syntax error on query: " + query, e);
                }

                return items;
            }
        });
    }
}
